{% extends "base.html" %}
{% block title %}{{ screen.title }}{% endblock %}
{% block menu %}
    <li><a href="{% url 'add' %}">Add image</a></li>
    <ul>Filter
        <li><a href="{% url "account" filter_='all' %}">All</a></li>
        <li><a href="{% url "account" filter_='day' %}">Day</a></li>
        <li><a href="{% url "account" filter_='week' %}">Week</a></li>
    </ul>

    <li><a href="{% url 'logout' %}">Logout</a></li>

{% endblock %}
{% block content %}
<img src="{{ screen.screenshot.url }}">
{% endblock %}